# Backend
BACKEND_PORT=
MONGO_URL=mongodb://mongo:27017/quizapp
JWT_SECRET=
JWT_EXPIRES_IN=

# Frontend
FRONTEND_PORT=

# Admin user is automatically seeded on server start (if filled in)
ADMIN_EMAIL=
ADMIN_PASSWORD=
